sudo: false
language: python
python:
  - 3.4
  - 3.5
  - 3.6
  - 2.7
install: 
  - pip install -r requirements.txt
  - pip install -r requirements-test.txt
  - python setup.py install
script: py.test tests/